.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(234, 234, 234);
    padding: 10px 0;
    margin-bottom: 20px;
}

.logo {
    width: 45px;
    margin-left: 20px;
}

span img {
    user-select: none;
}

.header div {
    display: flex;
}

.header span {
    display: flex;
    align-items: center;
    color: gray;
    height: 50px;

}

.header span p {
    margin-left: 5px;
    margin-right: 3px;
    font-size: 0.9rem;
}

.button {
    background-color: #a62626;
    color: #fff;
    height: 40px;
    width: 80px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    margin-right: 40px;
}

.dashboardLink span {
    padding: 4px;
    border-radius: 5px;
    transition: all 0.1s;
    cursor: pointer;
}

.dashboardLink span:hover {
    background-color: #f7f7f7;
}

.adminLink {
    margin-left: 25px;
}

.adminLink img {
    margin-left: 3px;
}

.menu {
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
    position: absolute;
    top: 70px;
    left: 75px;
    width: 140px;
    display: flex;
    flex-direction: column;
}

.menu div {
    padding: 15px;  
    display: flex;
    align-items: center;
    font-size: 1rem;
    height: 100%;
    width: 100%;
    cursor: pointer;
    transition: all 0.2s;
}

.menu div a {
    display: flex;
}

.menu img {
    margin-left: 5px;
}

.menu div:hover {
    background-color: rgb(228, 228, 228);
}

.menu div:not(:last-of-type) {
    border-bottom: 1px solid rgba(201, 201, 201, 0.8);
}

.menu div:first-of-type {
    border-radius: 5px 5px 0 0 ;
}

.menu div:last-of-type {
    border-radius:0 0 5px 5px  ;
}



